@import "tailwindcss";



body {
  background-color: white;
  /* padding:0px 33px */
}

/* fonts--------- */
.font-montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.font-unbounded {
  font-family: "Unbounded", sans-serif !important;
}

.no-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Hero section classes -----------*/
 :root{
  --clr:white
 }
.Innermain {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--clr);
  width: 100%;
  height: 100%;
  border-radius: 19px;
  /* background-image: url('/images/Images/memories.png'); */

}
.Innermain::before {
  z-index: 100;
  content: "";
  position: absolute;
  background-color: white;
  width: 20px;
  height: 20px;
  right: 117px;
  border-top-right-radius: 15px;
  box-shadow: 9px -10px 0 0 var(--clr);

}



/* bottom to top scrolling */
#scroll-container {

  overflow: hidden;
}

#scroll-text {
  height: 100%;
  text-align: center;

  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  -moz-animation: my-animation 5s linear infinite;
  -webkit-animation: my-animation 5s linear infinite;
  animation: my-animation 5s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
  }

  to {
    -moz-transform: translateY(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}





#scroll-container1 {
  
  overflow: hidden;
}

#scroll-text1 {
  height: 100%;
  text-align: center;

  /* animation properties */
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);

  -moz-animation: my-animation1 5s linear infinite;
  -webkit-animation: my-animation1 5s linear infinite;
  animation: my-animation1 5s linear infinite;
}



/* for Firefox */
@-moz-keyframes my-animation1 {
  from {
    -moz-transform: translateY(-100%);
  }

  to {
    -moz-transform: translateY(100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation1 {
  from {
    -webkit-transform: translateY(-100%);
  }

  to {
    -webkit-transform: translateY(100%);
  }
}

@keyframes my-animation1 {
  from {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

/*  */