@import "tailwindcss";

.Container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 20px;
  border: 1px solid black;
}

body {
  background-color: white;
  /* padding:0px 33px */
}

/*-------------- fonts--------- */
.font-montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.font-unbounded {
  font-family: "Unbounded", sans-serif !important;
}

.no-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Hero section classes -----------*/
:root {
  --clr: green
}

/*----------- HeroSection Design-------------- */

.shape {
    width: 395px;
    overflow: hidden;
    height: 180px;
    /* background: #ffffff; */
    clip-path: path("M 0 373 H 373 V 0 H 155 Q 130 0 130 25 L 130 75 Q 130 100 105 100 L 25 100 Q 0 100 0 125 Z"  );
}

.shape1 {
  width: 369px;
  height: 158px;
  /* background: #858282; */
  clip-path: path("M 0 133 Q 0 143 10 143 H 320 Q 330 143 330 133 V 10 Q 330 0 320 0 H 155 Q 130 0 130 25 L 130 75 Q 130 100 105 100 L 25 100 Q 0 100 0 125 Z");
}


.clip-path-main {
  clip-path: path("M0 210 L0 125 Q0 100 25 100 L105 100 Q130 100 130 75 L130 25 Q130 0 155 0 L395 0 L395 210 Z");
}

.clip-path-overlay {
  clip-path: path("M0 250 L0 125 Q0 100 25 100 L105 100 Q130 100 130 75 L130 25 Q130 0 155 0 L380 0 L380 200 Z");
}

/*-------- Home Page Scoll Animation ------------*/

/* bottom to top scrolling */
#scroll-container {

  overflow: hidden;
}

#scroll-text {
  height: 100%;
  text-align: center;


  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
  }

  to {
    -moz-transform: translateY(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}





#scroll-container1 {

  overflow: hidden;
}

#scroll-text1 {
  height: 100%;
  text-align: center;

  /* animation properties */
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);

  -moz-animation: my-animation1 15s linear infinite;
  -webkit-animation: my-animation1 15s linear infinite;
  animation: my-animation1 15s linear infinite;
}



/* for Firefox */
@-moz-keyframes my-animation1 {
  from {
    -moz-transform: translateY(-100%);
  }

  to {
    -moz-transform: translateY(100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation1 {
  from {
    -webkit-transform: translateY(-100%);
  }

  to {
    -webkit-transform: translateY(100%);
  }
}

@keyframes my-animation1 {
  from {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

/*  */